@CHARSET "UTF-8";
body{overflow-x:hidden;width:100%;height:auto;font-family:"闂傚倸鍊搁崐鎼佸磹閹间礁纾归柟闂寸绾惧湱鈧懓瀚崳纾嬨亹閹烘垹鍊炲銈嗗笒椤︿即寮查鍫熷仭婵犲﹤鍟版晥濠电姭鍋撳〒姘ｅ亾婵﹨娅ｇ槐鎺懳熼搹閫涚礃婵犵妲呴崑鍕偓姘緲椤曪綁宕ㄦ繝鍐€撶紓渚囧灡濞叉﹢寮埀顒勬⒒娴ｈ櫣甯涢柨姘舵煟閵堝懏澶勭紒鏃傚枎铻ｉ柤娴嬫櫆閿涘繘姊虹涵鍜佹綈闁告棑绠撳畷闈涒枎閹惧鍘撻柣鐔哥懃鐎氼剟鎮橀幘顔界厵妞ゆ棁顫夊▍濠勨偓瑙勬穿缁叉儳顕ラ崟顓涘亾閿濆骸浜滈柍褜鍓熼ˉ鎾舵閹捐纾兼繛鍡樺灥婵′粙姊洪崨濠冣拹闁绘濞€婵℃挳宕橀鐓庤€垮┑鐐叉閸旀洘鎯旀繝鍌楁斀闁绘劖娼欓悘鐔兼煕閵娿儲璐＄紒顔碱煼閺佹劙宕卞▎鎴晭闂備胶纭堕崜婵嬨€冮崼銏笉闁告劘顥嗚ぐ鎺撳亹闁煎鍊楅弳顐︽⒑閸濆嫮鐒跨紒鏌ョ畺楠炲棝寮崼婵愭綂闂佹寧绻傞幏瀣涢悢鍏尖拻濞达絽鎲￠幉鎼佹煕閻樺啿濮嶆鐐村姍楠炲酣鎮剧仦鐣屻偊闂備礁鎲￠崝鎴﹀礈椤曗偓瀵噣宕煎┑鍡欑崺婵＄偑鍊栧Λ浣规叏閵堝鍋熼柟鎯板Г閳锋垹鐥鐐村櫣濞存粌缍婇幃璺衡槈閺嵮冨Е閻庤娲樼划宀勫煘閹寸姭鍋撻敐搴′簻闁逞屽墮婢у酣鍩€椤掆偓缁犲秹宕曢柆宓ュ洦瀵奸弶鎴犲幈闂佺鎻梽鍕偂濞嗘挻鐓欐い鏍ㄧ⊕缁惰尙鎮鑸碘拺閺夌偞澹嗙粣鏂棵瑰鍐煟鐎殿喖顭烽弫鎰板川閸屾稒顥堢€规洘锕㈡俊鎼佸閿涘嫧鍋撴导瀛樼厽閹兼番鍩勯崯蹇涙煕閻樺磭娲存い銏′亢椤﹀綊鏌涢埞鍨姕鐎垫澘瀚换娑㈠閵忕姵鐏堥梺鍝勮閸斿酣鍩€椤掑﹦鍒伴柣蹇旀皑缁辩偟浠︾憴锝嗘杸闂佺粯蓱閸撴岸宕箛娑欑厱闁绘ɑ鍓氬▓婊堟煏閸℃鏆ｇ€规洏鍔戦、姗€宕堕妸褉妲堥柧缁樼墵閺屽秷顧侀柛鎾跺枛瀹曟椽濮€閵堝懐顔掗柣鐘叉处閻擄繝宕崼鏇熲拺闁告繂瀚婵嬫煕閻旈攱鍋ユ鐐茬箰鐓ゆい蹇撴噳閹锋椽姊洪悡搴綗闁稿﹥娲熷鎼佸箣閻愮數鐦堥梺闈涚箚閸╂顢旈崼婵堝幒闂佽宕橀褔鎮″☉銏＄厱婵炴垵宕弸銈夋煕濡吋鏆慨濠冩そ瀹曘劍绻濋崒婊€鎴烽梻浣呵归敃銉╂偋濠婂牆鐒垫い鎺嶈兌閸熸煡鏌熼崙銈嗗", "Microsoft YaHei";}
a:link{
text-decoration:none;
}
a{color:#9f9f9d;font-size:14px;}
.ddd{font-size:12px;}
.main{margin:0 auto;width:99%;clear:both;min-height:0px;}
.wenzi{margin-top:20px;margin-right:auto;margin-left:auto;width:100%;}
.biaoti{margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.jianjiezi{margin-top:20px;margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.anniu{margin-right:auto;margin-left:auto;width:220px;}
.anzhuo{margin-top:30px;float:left;width:220px;height:60px;background:url(http://ww4.sinaimg.cn/bmiddle/0068TJS4gw1eu60rjrv3aj306601o745.jpg) no-repeat;}
.app{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww2.sinaimg.cn/bmiddle/0068TJS4gw1eu60rj3re6j306601owed.jpg) no-repeat;}
.pc{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww3.sinaimg.cn/bmiddle/0068TJS4gw1eu60rkfgwwj306601o0sl.jpg) no-repeat;}
.mva{margin-top:20px;float:left;width:220px;height:391px;background:url(http://ww2.sinaimg.cn/mw690/005uJx3ujw1f25qu7zyf0j30640avt91.jpg) no-repeat;}
.zi1{margin-top:10px;float:left;text-align:center;width:220px;}
